# Будут игнорироваться все файлы и каталоги Thumbs.db
Thumbs.db
# Будут игнорироваться все файлы с суффиксами _old
*.*_old
# Будут игнорироваться все файлы с суффиксами _backup
*.*_backup
# Будут игнорироваться все файлы с расширением .DS_Store
*.DS_Store
# Будут игнорироваться все файлы в каталоге tmp
tmp/
